.layout-header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f2f2f2;
    min-height: 35px;
}


.layout-header-top .layout-item{
    align-items: center;
    display: flex;
}









.layout-header-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*border-bottom: 1px solid rgba(255, 255, 255, .2);*/
    min-height: 100px;
}

.layout-header-bottom .layout-item:nth-child(1){
    flex-shrink: 0;
}
.layout-header-bottom .layout-item:nth-child(2){
    align-items: center;
    display: flex;
}

