.sidebar {
	background-color: #f8f8f8;
}
.sale {
	background-color: #fff;
	margin-bottom: 20px;
	margin-top: 30px;
}
.availability {
	background-color: #fff;
	margin-top: 30px;
	margin-bottom: 30px;
}