:root {
  --global-font-family:                            Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --global-font-size:                              14px;
  --global-line-height:                            20px;

<<<<<<< HEAD
  --global-color:                                  #999999;
  --global-muted-color:                            #999;
=======
  --global-color:                                  #666666;
/*  --global-muted-color:                            #999;*/
  --global-hover-color::                           #e05d6f;
>>>>>>> 5bf26f373508f986d1611b27d57041b5aa1ff000

  --global-link-color:                             #666666;
  --global-link-hover-color:                       #e05d6f;

  --global-inverse-color:                          #aaaaaa;
  --global-inverse-heading-color:                  #cccccc;
  --global-inverse-link-color:                     #428bca;

  --global-background:                             #fff;

  --global-muted-background:                       #f8f8f8;
  --global-primary-background:                     #1e87f0;
  --global-secondary-background:                   #222;
  --global-inverse-background:                     #272727;

  --global-success-background:                     #32d296;
  --global-warning-background:                     #e05d6f;
  --global-danger-background:                      #e05d6f;

  --global-border-width:                           1px;
  --global-border:                                 #e5e5e5;

  --global-margin:                                 20px;

  --global-gutter:                                 30px;

  --global-control-height:                         40px;
}


