.availability {
	background-color: #fff;
}

.form-checkbox {
	padding: 20px;
}
.fieldset-checkbox {
	display: inline-flex;

}
.checkbox-overlay > span {
	padding-left: 10px;
	color: #b2b2b2;
}

.range-input {
	padding: 20px;
}
.range {
	padding-bottom: 15px;
	color: #b2b2b2;
}
.sale-header h6 {
	color: #222222;
}

@media screen  and (max-width: 922px) {
	input[type="range"].multirange {
		width: 150px;
	}
}