:root {
  --button-color: #ffffff;
  --button-background: #e05d6f;
  --button-font-family: Raleway, inherit;
  --button-font-size: var(--global-font-size);
  --button-font-weight: normal;
  --button-padding: 14px 12px;
  --button-height: 36px;

  --button-color-hover: #e05d6f;
  --button-background-hover: #ffffff;

  --button-color-focus: #e05d6f;
  --button-background-focus: #ffffff;

  --button-color-active: #e05d6f;
  --button-background-active: #ffffff;



  --button-transparent-color: #222222;
  --button-transparent-background: transparent;
  --button-transparent-font-family: Raleway, inherit;
  --button-transparent-font-size: var(--global-font-size);
  --button-transparent-font-weight: normal;
  --button-transparent-padding: 10px 20px;
  --button-transparent-height: 30px;

  --button-transparent-color-hover: #222222;
  --button-transparent-background-hover: #e5e5e5;

  --button-transparent-color-focus: #222222;
  --button-transparent-background-focus: #e5e5e5;

  --button-transparent-color-active: #222222;
  --button-transparent-background-active: #e5e5e5;
  --button-tranparent-border: 1px solid  #e5e5e5;
  --button-transparent-border-focus: #222222;
  --button-transparent-border-active: #222222;
}


button,
input[type="button"],
input[type="submit"],
.button {
  margin: 0;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  user-select: none;
  border-radius: 0;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  min-height: var(--button-height);
  text-decoration: none;
  background: var(--button-background);
  color: var(--button-color);
}

.button:not(:disabled) {
  cursor: pointer
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0
}

.button:hover {
  text-decoration: none;
  background: var(--button-background-hover);
  color: var(--button-color-hover);
}

.button:focus {
  outline: none;
  background: var(--button-background-focus);
  color: var(--button-color-focus);
}

.button:active,
.button.is-active {
  background: var(--button-background-active);
  color: var(--button-color-active);
}

.button:disabled {
  pointer-events: none;
  opacity: 0.45;
}