:root {
  --button-color: #ffffff;
  --button-background: #e05d6f;
  --button-font-family: Raleway, inherit;
  --button-font-size: var(--global-font-size);
  --button-font-weight: normal;
  --button-padding: 14px 12px;
  --button-height: 36px;

  --button-color-hover: #e05d6f;
  --button-background-hover: #e4abb3;

  --button-color-focus: #e05d6f;
  --button-background-focus: #e4abb3;

  --button-color-active: #e05d6f;
  --button-background-active: #e4abb3;


  --button-padding-small: 10px 10px;

  --button-transparent-color: #222222;
  --button-transparent-background: transparent;
  --button-transparent-font-family: Raleway, inherit;
  --button-transparent-font-size: var(--global-font-size);
  --button-transparent-font-weight: normal;
  --button-transparent-padding: 10px 20px;
  --button-transparent-height: 30px;

  --button-transparent-color-hover: #222222;
  --button-transparent-background-hover: #e5e5e5;

  --button-transparent-color-focus: #222222;
  --button-transparent-background-focus: #e5e5e5;

  --button-transparent-color-active: #222222;
  --button-transparent-background-active: #e5e5e5;
  --button-tranparent-border: 1px solid  #e5e5e5;
  --button-transparent-border-focus: #222222;
  --button-transparent-border-active: #222222;



  --button-quantity-background: transparrent;
  --button-quantity-border-color: #e5e5e5;
  --button-quantity-border-width: 1px;
  --button-quantity-color: var(--global-secondary-background);

  --button-quantity-border-radius: 2px;

  --button-inverse-background: #fff;
  --button-inverse-border: none;
  --button-inverse-color: #222;
  --button-inverse-border-radius: 2px;
  --button-inverse-text-transform: uppercase;
  --button-inverse-font-weight: bold;
  --button-inverse-padding: 12px 15px;

}


button,
input[type="button"],
input[type="submit"],
.button, 
.button-transparent {
  margin: 0;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  user-select: none;
  overflow: visible;
  font: inherit;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--button-padding);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  min-height: var(--button-height);
  text-decoration: none;
  background: var(--button-background);
  color: var(--button-color);
}
.button {
  border-radius: 0;
}
.button:not(:disabled) {
  cursor: pointer
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0
}

.button:hover {
  text-decoration: none;
  background: var(--button-background-hover);
  color: var(--button-color-hover);
}

.button:focus {
  outline: none;
  background: var(--button-background-focus);
  color: var(--button-color-focus);
}

.button:active,
.button.is-active {
  background: var(--button-background-active);
  color: var(--button-color-active);
}

.button:disabled {
  pointer-events: none;
  opacity: 0.45;
}
.button-transparent {
  border-radius: 2px;
  color: #222222;
  border: 2px solid #e5e5e5;
  text-transform: uppercase;
  background-color: transparent;
  text-shadow: 1px 1px #eeeeee;
  cursor: pointer;
  font-size: 11px;
}
.button-transparent:hover {
  text-decoration: none;
  background-color:  #eeeeee;
}
.button-large {
  padding: 6px 25px;
}

.button-inverse{

  border-radius: var(--button-inverse-border-radius);
  color: var(--button-inverse-color);
  background-color: var(--button-inverse-background);
  cursor: pointer;
  text-transform: var(--button-inverse-text-transform);
  font-weight: var(--button-inverse-font-weight);
  padding: var(--button-inverse-padding);
}

.button-inverse:hover{
  color: var(--button-color);
  background-color: var(--button-background);
}

